<div class="header_wrapper animated fadeIn">
  <h1>Instructions <span class="little_span">(recommended for short term goals only..)</span></h1>
  <hr class="fat_hr">
</div>
<div class="instructions_wrapper animated fadeIn delay1s">
  <p class="p_body">This parts easy.  If you have a task that you need to do simply submit it on your tasks page.  You can check tasks off your list at any time.  Pretty standard right?  The only catch is that if you don't complete a task within 7 days or 1 week, then it will be deleted from your list.  If you haven't done it by then, it probably wasn't that important.  Stop procrastination before it's too late.  Happy tasking!</p>
  <p>- Blocitoff team</p>
</div>