<div class="text-center title-border">
  <h1>Blocitoff</h1>
  <p>&lt; a self-destructing to-do list application &gt;</p>
</div>
<div class="text-center">
  <br>
  <h4>Coming Soon: things to do..</h4>
</div>