@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  background: url(rad-bg-1.jpg);
  color: #fff;
}

.flash_message {
  margin-top: 30px;
  background-color: rgba(0,0,0,0.6);
  padding: 5px;
  width: 15%;
  text-align: center;
  position: absolute;
  color: #fff;
  border-radius: 5px;
  font-weight: 100;
  font-size: 16px;
}

.user-info {
  margin-top: 10px;
  padding: 0 15px;
}

.nav {
  margin-top: 5px;
}

em.red {
  color: red;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.text-wrapper {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.text {
  font-size: 60px;
  margin-top: 100px;
  color: #fff;
  height: 170px;
  // position: absolute;
  // right: 0;
  // left: 0;
}

.all_things_nav {
  color: #fff;
  background-color: rgba(0,0,0,0.1);
  margin-top: 0;
  border-bottom: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  a {
    color: #fff;
    padding: 0 15px;
  }
}

.sign_in_a {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
}

.sign_in_b {
  border: 3px solid #fff;
  color: #fff;
}

.sign_in_c {
  &:hover,
  &:active {
    color: #ADCB9B;
    text-decoration: none;
  }

  &:hover:after {
    width: 100%;
  }

  &:after {
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
  }
}

.sign_up_c {
  &:hover,
  &:active {
    color: #C9C287;
    text-decoration: none;
  }

  &:hover:after {
    width: 100%;
  }

  &:after {
    width: 0%;
    height: 100%;
    top: 0;
    right: 0;
    background: #fff;
  }
}

.white {
  color: #fff;
}

// .sign_in_or_up_buttons {
//   position: absolute;
//   bottom: 150px;
//   left: 0;
//   right: 0;
// }

// Responsiveness

@media screen and (max-width: 1000px) {
  .text {
    font-size: 40px;
  }
}

@media screen and (max-width: 650px) {
  .text {
    font-size: 30px;
  }
}

@media screen and (max-width: 400px) {
  .text {
    font-size: 25px;
  }
}

.checkbox input[type="checkbox"] {
  margin-left: 110px;
}

.delay1s {
  animation-delay: 0.5s;
}

.delay3s {
  animation-delay: 3s;
}

.list_item_styles {
  margin: 0;
  padding: 15px 10px;
  position: relative;
}

.list_items_wrapper {
  width: 50%;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.1);
  border-radius: 5px;
  color: #fff;
  // padding-top: 20px;
  font-weight: 100;
  max-height: 352px;
  overflow: auto;
}

.item_name {
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  width: 480px;
  text-overflow: ellipsis;
}

.right {
  float: right;
  margin-top: -30px;
  font-size: 15px;
}

.form-wrapper {
  width: 50%;
  margin: 0 auto;
}

.task_name_input {
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  font-weight: 100;
  font-size: 30px;
  height: 60px;
}

.add_btn_1d {
  overflow: hidden;

  &:hover {
    color: #DACFA0;
  }

  &:hover:after {
    width: 90%;
    opacity: 1;
  }

  &:after {
    width: 0;
    height: 103%;
    top: 50%;
    left: 50%;
    background: #fff;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}

.add_btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 10px 20px;
  display: inline-block;
  margin: 15px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;

  &:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
  }

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
}

.add_btn_1 {
  border: 3px solid #fff;
  color: #fff;
}

.container > .all_things_nav > li > a:hover {
  border-color: transparent;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: underline;
  background-color: transparent;
}

.overlay_checks {
  color: #fff;
  font-size: 30px;
  margin-top: 53px;
  margin-right: 20px;

  &:hover {
    color: #E4DDA6;
    text-decoration: none;
  }
}

.checks {
  color: #fff;
  font-size: 30px;
  margin-top: -5px;
  margin-right: 10px;
}

#overlay {
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#box:hover #overlay {
  opacity: 1;
}

span#countdown {
  font-size: 50px;
}

.skinny {
  margin: 0;
}

span.little_span {
  font-size: 20px;
}

.fat_hr {
  border-top: 3px solid #fff;
}

p.p_body {
  font-size: 30px;
  font-weight: 100;
}

// .instructions_wrapper {
//   background-color: rgba(0,0,0,0.1);
//   padding: 10px 15px;
//   height: 100vh;
// }

.cancel_my_account {
  &:hover {
    background-color: #FF8278;
    color: lighten(#000, 50%);
    border-color: lighten(#000, 50%);
  }
}

a {
  color: #fff;

  &:hover {
    color: #fff;
  }
}

.mt20 {
  margin-top: 20px;
}