<%= content_tag :div, class: 'media list_item_styles', id: item.id do %>
  <div class="media-body">
    <small>
      <span class="item_name"><%= item.name %></span>
      <span class="right">
        <em class="red">&lt;<%= "#{item.days_left} days until this item will self destruct" %>&gt;</em>
        <%= link_to "", [@user, item], method: :delete, class: 'glyphicon glyphicon-ok', remote: true %>
      </span>
    </small>
    <hr>
  </div>
<% end %>