<div class="text-center">
  <h1>What do you have to do?</h1>
  <small><%= pluralize(current_user.items.count, "more task") %> to complete!</small>
</div>
<br />
<div class="list_items_wrapper">
  <%= render partial: 'items/item', collection: @items %>
</div>
<%= render partial: 'items/form' %>